@charset "UTF-8";

/* ---------------------------------
    共通 ここから
--------------------------------- */
// 定数 font-weight
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// フォント設定
// ベースフォント
@mixin baseFont($weight: $regular) {
    font-family: "Noto Serif JP", serif;
    font-weight: $weight;
    font-style: normal;
}

// 英字用フォント
@mixin alphabetFont($weight: $regular) {
    font-family: "Marcellus", serif;
    font-weight: $weight;
    font-style: normal;
}

// セクションタイトル用フォント
@mixin sectionTitleFont($weight: $bold) {
    font-family: "EB Garamond", serif;
    font-weight: $weight;
    font-style: normal;
}

// 単位変換関数
// SP用ブラウザ幅連動
@function vw($px) {
    @return calc($px * 100vw / 390); // 390pxはカンプの幅を記述
}

// PC用ブラウザ幅連動
// ヘッダー・カバーなどブラウザ幅一杯のコンテンツ用
@function vwPC($px) {
    @return calc($px * 100vw / 1500); // 1500pxはカンプの幅を記述
}

@function px2Rem($px) {
    @return calc($px / 16) * 1rem;
}

// 下記でmin/max関数をScssの関数ではなくcssの関数として出力するためのラッパー
@function min($values...) {
    @return unquote('min(#{$values})');
}

@function max($values...) {
    @return unquote('max(#{$values})');
}

// PC用途中までブラウザ幅連動。$pxより大きくなったら$pxにする関数
// マイナスの値も対応。
@function mvw($px) {
    // 1200pxはカンプ幅ではなくコンテンツ幅(コンテンツ左右のガイド線間の幅 + 少し余白)
    $value1: calc($px * 100vw / 1200);
    $value2: px2Rem($px);

    @if $px >=0 {
        @return min($value1, $value2);
    }

    @else {
        @return max($value1, $value2);
    }
}

// メディアクエリ
// ブレイクポイントの設定
$breakpoints: (
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1200px)",
    "xl": "screen and (min-width: 1500px)"
    ) !default;

// メディアクエリのmixin
@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// PC表示コンテンツ幅(1200px)以上の場合の左右の余白
$pcMargin: calc((100% - 1200px) / 2
);

// スムーススクロール
html {
    scroll-behavior: smooth;
}

// トップへ戻るボタンのための設定
body {
    position: relative;
}

// 自動改行のための設定
span {
    display: inline-block;
}

// リンクのデコレーションを消す
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

// リストのスタイルをリセット
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// 確認用
* {
    outline: 1px solid red;
}

/* ---------------------------------
    共通 ここまで
--------------------------------- */

/* ---------------------------------
    #cover ここから
--------------------------------- */
.cover {
    width: 100%;
    height: vw(557);
    background-image: url("/assets/image/main_visual_sp_01.jpg");
    background-size: vw(390) vw(450);
    background-position: center top;
    padding: vw(24) vw(16) 0;

    @include mq(md) {
        height: mvw(720);
        background-image: url("/assets/image/main_visual_pc_01.jpg");
        background-size: cover;
        background-position: center;
        padding: vwPC(32) 0;

    }

    @include mq(xl) {
        height: vwPC(720);
        background-image: url("/assets/image/main_visual_pc_01.jpg");
        background-size: 100% auto;
        background-position: center top;
        padding: vwPC(32) 0;
    }
}

.cover__inner {
    display: flex;
    flex-direction: column;

    @include mq(md) {
        margin-left: 0;
        margin-right: 0;
    }

    @include mq(lg) {
        margin-left: $pcMargin;
        margin-right: $pcMargin;
    }

    @include mq(xl) {
        margin-left: px2Rem(150);
        margin-right: px2Rem(150);
    }
}

.cover__link {
    align-self: center;
    height: vw(30);

    @include mq(md) {
        height: vwPC(35);
    }
}

.cover__logo {
    width: vw(143);
    height: vw(30);

    @include mq(md) {
        width: vwPC(166);
        height: vwPC(35);
    }
}

.product {
    margin-top: vw(364);
    margin-left: vw(7);
    width: vw(343);
    height: vw(139);

    @include mq(md) {
        margin-top: mvw(203);
        margin-left: mvw(73);
        width: mvw(364);
        height: mvw(177);
    }

    @include mq(xl) {
        margin-top: vwPC(203);
        margin-left: vwPC(73);
        width: vwPC(364);
        height: vwPC(177);

    }
}

.product__name {
    @include alphabetFont;
    font-size: vw(41);
    line-height: calc(51/41);
    letter-spacing: 0.3em;
    text-align: left;

    @include mq(md) {
        font-size: mvw(50);
        line-height: calc(68/50);
    }

    @include mq(xl) {
        font-size: vwPC(50);
        line-height: calc(68/50);
    }
}

.product__text {
    @include baseFont();
    font-size: vw(20);
    text-align: left;
    letter-spacing: 0.3em;
    vertical-align: top;
    margin-top: vw(7);

    @include mq(md) {
        font-size: mvw(25);
        line-height: calc(36/25);
        margin-top: mvw(7);
    }

    @include mq(xl) {
        font-size: vwPC(25);
        line-height: calc(36/25);
        margin-top: vwPC(7);
    }
}

/* ---------------------------------
    #cover ここまで
--------------------------------- */

/* ---------------------------------
    #cta ここから
--------------------------------- */
.cta {
    margin: vw(50) vw(16) vw(50);

    @include mq(md) {
        margin: mvw(48) mvw(100);
    }

    @include mq(lg) {
        margin: mvw(48) calc($pcMargin + mvw(100));
    }
}

#cta2.cta {
    margin-top: vw(50);

    @include mq(md) {
        margin-top: mvw(46);
    }
}

.cta__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: vw(20);
    padding-top: vw(20);
    padding-bottom: vw(34);
    background-color: #F0F4FF;

    @include mq(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: mvw(40) mvw(48);
    }
}

.cta__product-title {
    @include baseFont;
    font-size: vw(18);
    letter-spacing: 0.1em;
    text-align: center;

    @include mq(md) {
        font-size: mvw(24);
    }
}

.cta__product-price {
    @include baseFont;
    font-size: vw(14);
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: vw(5);

    @include mq(md) {
        font-size: mvw(16);
        text-align: left;
        margin-top: mvw(8);
    }
}

.cta__btn {
    @include baseFont($medium);
    font-size: vw(18);
    text-align: center;
    width: vw(300);
    padding: vw(16) vw(60);
    border-radius: vw(34);
    color: #FFF;

    @include mq(md) {
        font-size: mvw(18);
        width: mvw(300);
        padding: mvw(16) mvw(58);
        border-radius: mvw(34);
    }

    &--online {
        @extend .cta__btn;
        background-color: #46C4DB;

        @include mq(md) {
            margin-left: mvw(30);
        }
    }

    &--online:hover {
        border: #46C4DB solid 2px;
        padding: vw(15) vw(56);
        background-color: #FFF;
        color: #46C4DB;

        @include mq(md) {
            margin-left: mvw(30);
            padding: mvw(14) mvw(56);
        }
    }

    &--purchase {
        @extend .cta__btn;
        background-color: #5DD5AB;
    }

    &--purchase:hover {
        border: #5DD5AB solid 2px;
        padding: vw(15) vw(56);
        background-color: #FFF;
        color: #5DD5AB;

        @include mq(md) {
            padding: mvw(14) mvw(56);
        }
    }
}

/* #cta ここまで */

/* #concept ここから */
.concept {
    width: 100%;
    height: vw(680);
    background-image: url("/assets/image/concept_sp_01.jpg");
    background-position: center;
    background-size: cover;

    @include mq(md) {
        height: mvw(550);
        background-image: url("/assets/image/concept_pc_01.jpg");
        background-size: cover;
        background-position: center;
        padding: mvw(127) mvw(54);
    }

    @include mq(lg) {
        height: mvw(550);
        background-image: url("/assets/image/concept_pc_01.jpg");
        background-size: cover;
        background-position: center;
        padding: mvw(127) calc($pcMargin + mvw(54));
    }
}

.concept__inner {
    padding: vw(48) vw(16);

    @include mq(md) {
        padding: 0 0 0 mvw(625);
        width: mvw(1092);
    }
}

.concept__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(md) {
        align-items: flex-start;
    }
}

.concept__title-en {
    @include sectionTitleFont;
    font-size: vw(30);
    color: #FFF;

    @include mq(md) {
        font-size: mvw(38);
        text-align: left;
    }
}

.concept__title-jp {
    @include baseFont($medium);
    font-size: vw(24);
    color: #FFF;
    margin-top: vw(8);

    @include mq(md) {
        font-size: mvw(24);
        margin-top: mvw(8);
        text-align: left;
    }
}

.concept__text {
    @include baseFont;
    font-size: vw(14);
    line-height: calc(32/14);
    color: #FFF;
    margin-top: vw(14);

    @include mq(md) {
        font-size: mvw(14);
        line-height: calc(32/14);
        margin-top: mvw(18);
        margin-right: mvw(38);
    }
}

/* #concept ここまで */

/* #voices ここから */
.voices {
    height: vw(571);
    padding: vw(50) vw(16);

    @include mq(md) {
        height: mvw(716);
        padding: mvw(80) mvw(22);
    }

    @include mq(lg) {
        padding: mvw(80) calc($pcMargin + mvw(22));
    }
}

.voices__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voices__title-en {
    @include sectionTitleFont;
    font-size: vw(30);
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;

    @include mq(md) {
        font-size: mvw(45);
    }
}

.voices__title-jp {
    @include baseFont($semibold);
    font-size: vw(16);
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: vw(4);

    @include mq(md) {
        font-size: mvw(20);
        margin-top: mvw(8);
        margin-left: mvw(3);
    }
}

.voices__list {
    margin-top: vw(36);
    margin-left: vw(39);
    margin-right: vw(39);

    @include mq(md) {
        margin-top: mvw(40);
        margin-left: mvw(74);
        margin-right: mvw(74);
    }
}

.voices__item {
    background-color: #DBF7F9;

    @include mq(md) {
        width: mvw(300);
        height: mvw(388);
        margin-left: mvw(18);
        margin-right: mvw(18);
    }
}

.voices__photo {
    margin: vw(28) vw(95) 0 vw(105);
    width: vw(80);
    height: vw(80);
    align-items: center;
    border-radius: vw(40);

    @include mq(md) {
        margin: mvw(40) mvw(95) 0 mvw(100);
        width: mvw(100);
        height: mvw(100);
        border-radius: mvw(50);
    }
}

.voices__name {
    @include baseFont;
    font-size: vw(14);
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: vw(8);

    @include mq(md) {
        font-size: mvw(15);
        margin-top: mvw(9);
    }
}

.voices__text {
    @include baseFont;
    font-size: vw(14);
    line-height: 2;
    margin: vw(16) vw(15) vw(24);

    @include mq(md) {
        font-size: mvw(16);
        line-height: calc(28/16);
        margin: mvw(16) mvw(18) mvw(40);
    }
}

.slick-prev,
.slick-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: vw(32);
    width: vw(32);
    color: #00AFBF;

    @include mq(md) {
        top: 50%;
        height: mvw(48);
        width: mvw(48);
    }
}

.slick-prev {
    left: vw(-39);

    @include mq(md) {
        left: mvw(-74);
    }
}

.slick-next {
    right: vw(-39);

    @include mq(md) {
        right: mvw(-74);
    }
}

.slick-dots {
    width: 96%;
    text-align: center;

    @include mq(md) {
        width: mvw(998);
        height: mvw(18);
    }

    li {
        height: vw(9);
        width: vw(9);
        margin: 0 vw(4);
        padding: 0;
        border-radius: 100%;
        cursor: pointer;

        @include mq(md) {
            height: mvw(10);
            width: mvw(10);
            margin: mvw(4) mvw(4);
        }

        button {
            cursor: pointer;
            color: transparent;
        }

        button::before {
            font-size: vw(9);

            @include mq(md) {
                font-size: mvw(10);
            }
        }

        button:hover,
        button:focus {
            outline: none;
        }
    }

    li button {
        padding-top: 0;
    }

    li.slick-active button:before {
        color: #00AFBF;
    }
}

/* #voices ここまで */

/* #faq ここから */
.faq {
    height: auto;
    background: -moz-linear-gradient(left, #F4FFE8, #C6F0FE);
    background: -webkit-linear-gradient(left, #F4FFE8, #C6F0FE);
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
}

.faq__inner {
    padding: vw(32) vw(16) vw(1);
    margin-bottom: vw(-2);

    @include mq(md) {
        padding: mvw(40) mvw(300) mvw(1);
        margin-bottom: mvw(-2);
    }

    @include mq(lg) {
        padding: mvw(40) calc($pcMargin + mvw(300)) mvw(3);
        margin-bottom: 0;
    }
}

.faq__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq__title-en {
    @include sectionTitleFont;
    font-size: vw(30);
    letter-spacing: 0.04em;
    text-align: center;
    color: #000;

    @include mq(md) {
        font-size: mvw(45);
    }
}

.faq__title-jp {
    @include baseFont($semibold);
    font-size: vw(16);
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
    margin-top: vw(4);

    @include mq(md) {
        font-size: mvw(20);
        margin-top: mvw(8);
    }
}

.faq__list {
    margin-top: vw(37);
    margin-bottom: vw(33);

    @include mq(md) {
        margin-top: mvw(40);
        margin-bottom: mvw(40);
    }
}

.faq__item-question {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: vw(20);
    padding: vw(20) vw(16) vw(18);
    background-color: #fff;
    cursor: pointer;

    @include mq(md) {
        row-gap: mvw(20);
        margin-top: mvw(24);
        padding: mvw(24) mvw(24) mvw(19);
    }

    &.open {
        @extend .faq__item-question;
        padding-bottom: vw(15);

        @include mq(md) {
            margin-top: mvw(24);
            padding: mvw(24) mvw(24) mvw(18);
        }
    }
}

.faq__item-question-mark,
.faq__item-answer-mark {
    @include sectionTitleFont;
    font-size: vw(16);
    letter-spacing: 0.05em;

    @include mq(md) {
        font-size: mvw(18);

    }
}

.faq__item-answer-mark {
    padding-top: vw(3);

    @include mq(md) {
        padding-top: mvw(3);
    }
}

.faq__item-question-text {
    @include baseFont;
    font-size: vw(15);
    line-height: 1.7;
    margin-left: vw(12);

    @include mq(md) {
        font-size: mvw(15);
        line-height: calc(28/15);
        margin-left: mvw(16);
    }
}

.faq__item-question-text {
    @include mq(md) {
        width: mvw(491);
    }
}

.faq__item-answer-text {
    @include baseFont;
    font-size: vw(15);
    line-height: calc(28/15);
    margin-left: vw(10);

    @include mq(md) {
        width: mvw(518);
        font-size: mvw(15);
        line-height: calc(28/15);
        margin-left: mvw(16);
    }
}

.faq__item-question-mark,
.faq__item-question-text {
    color: #444444;
}

.faq__item-answer-mark,
.faq__item-answer-text {
    color: #000000;
}


.faq__item-question>.faq__item-question-btn {
    margin-top: vw(10);
    margin-left: vw(5);
    width: vw(20);
    height: vw(7);
    background-image: url("/assets/image/faq_down_01.svg");

    @include mq(md) {
        margin-top: mvw(10);
        margin-left: mvw(15);
        width: mvw(12);
        height: mvw(7);
    }
}

.faq__item-question.open>.faq__item-question-btn {
    margin-top: vw(10);
    margin-left: vw(6);
    width: vw(20);
    height: vw(7);
    background-image: url("/assets/image/faq_up_01.svg");

    @include mq(md) {
        margin-top: mvw(10);
        margin-left: mvw(15);
        width: mvw(12);
        height: mvw(6);
    }
}

.faq__item-answer {
    display: flex;
    margin-bottom: vw(20);
    padding: 0 vw(16) vw(28);
    background-color: #fff;
    cursor: pointer;

    @include mq(md) {
        margin-bottom: mvw(20);
        padding: 0 mvw(24) mvw(18);
    }

    &--active {
        @extend .faq__item-answer;
        display: flex;
    }
}

/* #faq ここまで */

/* #footer ここから */
.footer {
    width: 100%;
    height: vw(165);
    background-color: #0071CE;

    @include mq(md) {
        height: mvw(104);
    }
}

.footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: vw(20);
    padding: vw(24) vw(45) vw(20);

    @include mq(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: mvw(32);
    }

    @include mq(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: mvw(32) calc($pcMargin + mvw(32));
    }
}

.footer__logo-link,
.footer__logo-img {
    width: vw(166);
    height: vw(35);

    @include mq(md) {
        width: mvw(190);
        height: mvw(40);
    }
}

.footer__link-list {
    display: flex;
    column-gap: vw(30);

    @include mq(md) {
        margin-left: mvw(50);
        column-gap: mvw(32);
    }
}

.footer__link-item {
    @include baseFont;
    font-size: vw(12);
    color: #FFF;

    @include mq(md) {
        font-size: mvw(14);
    }
}

.footer__copyright {
    @include baseFont;
    font-size: vw(11);
    color: #FFF;
    padding-top: vw(2);

    @include mq(md) {
        font-size: mvw(12);
    }
}

/* #footer ここまで */

/* #back-to-top ここから */
#back-to-top {
    position: fixed;
    height: vw(40);
    right: vw(16);
    bottom: px2Rem(16);

    @include mq(md) {
        height: mvw(40);
        right: mvw(40);
    }

    @include mq(lg) {
        right: $pcMargin;
    }
}

#back-to-top__link {
    width: vw(40);
    height: vw(40);
}

#back-to-top__img {
    display: none;
    width: vw(40);
    height: vw(40);
}

/* #back-to-top ここまで */